<<<<<<< HEAD
<form action="/articles" method="post">
  <ul>
    <li>
      <label for= "title"> Title </label>
       <input id="title" type= "text" name= "title"/>
    </li>
    <li>
       <label for= "content"> Content </label>
       <textarea id= "content" type= "text" name="content"> 
     </textarea>
    </li>
  </ul>
 <input type= "submit"/>
=======
<form action= "/articles" method = "POST">
  <input type= "text" name= "articles"
  
>>>>>>> 7d4bef732aa75d375f40f8fbda4bf08d178bdc6b
</form>